<div class="item">
    <p>Nome</p>
    <input type="text" name="name" value="{{item.name}}">
</div>

<div class="item">
    <p>Avatar</p>
    {% if item %}
        <input type="url" name="avatar" value="{{item.avatar_url}}">
    {% endif %}

    <div class="photos">
        <div id="photos-upload">
            <i class="material-icons">add
                <input 
                    id="photos-input" 
                    type="file" 
                    name="photos" 
                    multiple 
                    accept="image/*"
                    onchange="PhotosUpload.handleFileInput(event)"
                >            
            </i>
            
        </div>

        <div id="photos-preview"></div>
    </div>
    
</div>

