<div class="item">
    <p>Avatar</p>
    <input type="url" name="avatar" value="{{item.avatar_url}}">
</div>

<div class="item">
    <p>Nome</p>
    <input type="text" name="name" value="{{item.name}}">
</div>
