{% extends "admin/layout.njk" %}

{% block content %}

    <main>
        <section class="chef">
            <div class="header">
                <h2>Chef:
                    {{item.name}}</h2>
                <a href="/admin/chefs/{{item.id}}/edit">
                    <button>Editar chef</button>
                </a>
            </div>
            <div class="container">
                <div class="header">
                    <img src="{{item.avatar_url}}" alt="">
                    <h1 class="title">{{item.name}}</h1>
                    <p class="subtitle">{{item.total_recipes}}
                        receitas</p>

                </div>

                <div class="container">
                    <h2>Receitas</h2>
                    <div class="cards">
                        {% for recipe in items %}
                            {% if item.total_recipes != 0 %}
                                <div id="{{recipe.id}}" class="recipe-card">
                                    <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}" class="image">
                                    <div class="info">
                                        <h3 class="title">{{recipe.title}}</h3>
                                        <p class="subtitle">{{item.name}}</p>
                                        <button>Visualizar</button>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script src="/admin/scripts.js"></script>
{% endblock %}