{% extends "admin/layout.njk" %}

{% block content %}

    <main>
        <section class="recipes">
            <div class="header">
                <h2>Gerenciar receitas</h2>      
                <a href="/admin/recipes/create">
                <button>
                     Nova receita
                </button>    
                </a>
                 
            </div>
            <div class="container">
                <div class="cards">
                    {# {% for item in items %}                     #}
                    {% for id in keys %}
                        <div id="{{id+1}}" class="recipe-card">
                            <img src="{{items[id].image}}" alt="Imagem de {{items[id].title}}" class="image">
                            <div class="info">
                                <h3 class="title">{{items[id].title}}</h3>
                                <p class="subtitle">{{items[id].author}}</p>                            
                                <button>Visualizar</button>
                            </div>

                        </div>
                        {%endfor%}
                        {# {% endfor %}                                      #}
                    </div>
                </div>
            </section>
        </main>

    <script src="/admin/scripts.js"></script>
    {% endblock %}