<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foody</title>

    <link rel="stylesheet" href="/admin/styles.css">
    
</head>
<body>
    <header>
        <a href="/admin"><img src="/admin/logo-white.png" alt=""></a>        
        <nav class="menu">
            <ul>                
                <li>
                    <a href="/admin/recipes">Receitas</a>
                </li>                                
            <ul>                
                <li>
                    <a href="/">Site</a>
                </li>                                
            </ul>
        </nav>
    </header>

    {% block content %}
    
    {% endblock %}

    <footer>
        <p>© Todos direitos reservados, receitas Foodfy.</p>
    </footer>

    <script src="/admin/scripts.js"></script>    

</body>

</html>