{% extends "admin/layout.njk" %}
{% import "admin/parts/header-user.njk" as header %}

{% block content %}
    <main>

        <section class="user">

            {{header.user('Atualizar','update','delete', 'Deletar')}}

            <form action='/admin/users?_method=PUT' method="POST" id="update">
                <input type="hidden" name="id" value="{{user.id}}">
                {%include 'admin/users/fields.njk'%}

                <div class="checkbox-user">
                    <div class="item">
                        <input type="checkbox" name="is_admin" {% if user.is_admin == true %} checked {% endif %} >Administrador
                    </div>
                </div>
            </form>

            <form action="/admin/users?_method=DELETE" method="POST" id="delete">
                <input type="hidden" name="id" value="{{user.id}}">
            </form>

        </section>

    </main>

    <script src="/admin/confirm-delete.js"></script>
    <script src="/admin/scripts-user.js"></script>
{% endblock content %}