<div class="input-user">
    <div class="item">
        <p>Nome</p>
        <input type="text" name="name" value="{{item.name}}">
    </div>

    <div class="item">
        <p>Email</p>
        <input type="text" name="email" value="{{item.email}}">
    </div>
</div>