{% extends "layout.njk" %}

{% block content %}

    <main>
        <section class="recipes">
            <div class="container">
                <div class="cards">
                {# {% for item in items %}                     #}
                    {% for id in keys %}
                    <div id="{{id+1}}" class="recipe-card">
                        <img src="{{items[id].image}}" alt="Imagem de {{items[id].title}}" class="image">
                        <h3 class="title">{{items[id].title}}</h3>
                        <p class="subtitle">{{items[id].author}}</p>                  

                    </div>
                    {%endfor%}
                {# {% endfor %}                                      #}
                </div>
            </div>
        </section>
    </main>

    <script src="/scripts.js"></script>
    {% endblock %}
