{% extends "site/layout.njk" %}
{% import "site/parts/section-recipes.njk" as recipesGrid %}

{% block content %}

    <main>
        <section class="banner">
            <div class="container">
                <div>
                    <h1>As melhores receitas</h1>
                    <p>Aprenda a construir os melhores pratos
                        com receitas criadas por profissionais
                        do mundo inteiro.</p>
                </div>
                <img src="/site/chef.png" alt="" class="banner-image">
            </div>
        </section>


       {{recipesGrid.recipes( 'Mais acessadas','','more-access', items.slice(0,6) )}}        
        
    </main>      

{% endblock %}