<header>
    <div>
        <a href="/admin"><img src="/admin/logo-white.png" alt=""></a>
        <nav class="menu">
            <ul>
                <li>
                    <a href="/admin/recipes">Receitas</a>
                </li>
                <li>
                    <a href="/admin/chefs">Chefs</a>
                </li>
                <li>
                    <a href="/admin/users/create">Usuários</a>
                </li>
                <li>
                    <a href="/admin/profile">Perfil</a>
                </li>
                <li>
                    <a href="/">Site</a>
                </li>
            </ul>
        </nav>

    </div>
</header>