{% extends "admin/layout.njk" %}

{% block content %}

    <main>
        <section class="user">
            <div class="header">
                <h2>Bem vindo {{user.name}}</h2>
                <div class="buttons">                    
                    <button form="update" type="submit">Salvar</button>
                </div>
            </div>

            <form action='/admin/profile?_method=PUT' method="POST" id="update">
                <input type="hidden" name="id" value="{{user.id}}">
                {%include 'admin/users/fields.njk'%}

                <div class="item">
                    <p>Senha</p>
                    <input type="password" name="password" placeholder="Digite a senha">
                </div>
                
            </form>

        </section>

    </main>


{% endblock %}