<div class="item">
    <p>Imagem da receita</p>
    <div class="photos">
        <div id="photos-upload">
            <i class="material-icons">add
                <input 
                    id="photos-input" 
                    type="file" 
                    name="photos" 
                    multiple 
                    accept="image/*"
                    onchange="PhotosUpload.handleFileInput(event)"
                >            
            </i>
            
        </div>

        <div id="photos-preview"></div>
    </div>
</div>

<div class="item">
    <p>Título</p>
    <input type="text" name="title" value="{{item.title}}">
</div>

<div class="item">
    <p>Chef</p>
    <select name="author">
        {% for chef in chefOptions %}
        <option value="{{chef.id}}" {% if item.chef_id == chef.id %} selected {% endif %} >
            {{ chef.name }}
        </option>
        {% endfor %}
    </select>
</div>

<div id="ingredients" class="item">
    <p>Ingredientes</p>
        {% if item.ingredients%}
            {% for ingredient in item.ingredients %}
                <div class="ingredient">
                        <input type="text" name="ingredients[]" value="{{ingredient}}"/>
                        <button id="remove" type="button" class="delete">Excluir</button>
                </div>
            {% endfor %}
        {% else %}
            <div class="ingredient">
                    <input type="text" name="ingredients[]" value="{{ingredient}}"/>
                    <button id="remove" type="button" class="delete">Excluir</button>                    
            </div>
        {% endif %}
</div>
<button type="button" class="add-ingredient">Adicionar novo ingrediente</button>

<div id="preparation" class="item">
    <p>Modo de preparo</p>
        {% if item.ingredients%}
            {% for preparation in item.preparation %}
                <div class="preparation">
                    <input type="text" name="preparation[]" value="{{preparation}}"/>
                    <button type="button" id="remove" class="delete">Excluir</button>
                </div>
            {% endfor %}
        {% else %}
            <div class="preparation">
                <input type="text" name="preparation[]" value="{{preparation}}"/>
                <button id="remove" type="button" class="delete">Excluir</button>                
            </div>
        {% endif %}


</div>
<button type="button" class="add-preparation">Adicionar novo passo</button>

<div class="item">
    <p>Informações adicionais</p>
    <textarea name="information" cols="30" rows="10">{{item.information}}</textarea>
</div>